{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
        <div class="spacer">
            <div class="space-in">
                <h1 class="title-spacer">Besoin d'un <span class="blue-text">site</span> ?</h1>
                <h5 class="space-in">
                    Back'n <span class="blue-text">Dev</span> s'occupe de tout ! Du développement à la mise en production vous n'aurez pas besoin de vous en soucier !
                </h5>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 white-custom margin center">
                    <h1>Back'n <span class="blue-text">Dev</span></h1>
                    <h2>Nos <span class="blue-text">compétences</span></h2>
                    <div class="col s12 m10 offset-m1 blue-custom">
                        <h3>Le développement back-<span class="blue-text">end</span></h3>
                        <p>Du site vitrine au e-commerce en passant par le CRM, nous gérons vôtre base de données et nous assurons le développement et la maintenance
                        de votre site et ses informations sensibles ou non .
                        </p>
                        <p>
                            Défenseur des bonnes pratiques et de la sécurité non mettons tout en oeuvre pour que votre site soit le plus sécurisé possible .
                        </p>
                    </div>
                    <div class="col s12 m10 offset-m1 blue-custom">
                        <h3>Le développement front-<span class="blue-text">end</span></h3>
                        <p>
                            Tout les sites développés chez Back'n Dev sont entièrement responsive (adaptés à tout types d'écrans, mobiles, tablettes, ordinateurs)
                        </p>
                        <p>
                            Nous nous efforçons de faire de beaux visuels en partenariat avec <span class="blue-text">Team Flow</span>
                            qui fournis le design UX (User Xperience) et son savoir faire en matière de charte graphique .
                        </p>
                        <p>
                            Il ne nous reste plus qu'à coder ses créations dans un langage compréhensible par un navigateur web .
                        </p>
                    </div>
                    <div class="col s12 m10 offset-m1 blue-custom">
                        <h3>Le gestion de votre <span class="blue-text">hébergement</span></h3>
                        <p>
                            Back'n dev s'occupe de tout !
                        </p>
                        <p>
                            Gestion des noms de domaines, des enregistrements DNS<br />
                            Nous pouvons également vous conseiller sur des solutions d'hébergements chez <a href="www.infomaniak.com" title="Infomaniak">Infomaniak</a> en qui nous avons pleine confiance.<br />
                        </p>
                        <p>
                            Nous nous occupons aussi de l'infogérence, nous proposons un service de gestion de serveurs non managés .<br />
                            Tout nos environements sont gérés sous Docker et nos sites poussés sur un dépôt GIT qui vous est propre .
                        </p>
                    </div>
                    <div class="col s12 m10 offset-m1 blue-custom">
                        <h3>Le référencement <span class="blue-text">SEO</span></h3>
                        <p>
                            Le référencement est une partie primordiale pour un site web, il permet d'être visible par les moteurs de recherche
                        </p>
                        <p>
                            Vous pouvez avoir le plus beau site du monde si personne ne le voit il perd tout son intérêt. C'est pourquoi
                            nous attachons beaucoup d'importance au référencement pour faire décoller votre trafic .
                        </p>
                        <p>
                            C'est un besoin qui peut être ponctuel ou permanent et nous sommes là pour répondre à cette demande .
                        </p>
                    </div>
                    <div class="col s12 m10 offset-m1 blue-custom">
                        <h3>La <span class="blue-text">maintenance</span></h3>
                        <p>
                            Nous assurons également la maintenance des sites que se soit préventive ou curative .
                        </p>
                        <p>
                            La mise à jour de votre site ou la refonte si nécessaire quand on utilise un vieux CMS .
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
